include README*
include MANIFEST.in
include requirements.txt
recursive-include preprocessing_scripts *
recursive-include rsem_pipeline/bin *
recursive-include rsem_pipeline/conf *
recursive-include rsem_pipeline/templates *
recursive-exclude * *.py[co]