include README.rst
include INSTALL.rst
include USAGE.rst
include MANIFEST.in
include requirements.txt
recursive-include rsempipeline/bin *
recursive-include rsempipeline/conf *
recursive-include rsempipeline/templates *
recursive-exclude * *.py[co]