include README*
include requirements.txt
include MANIFEST.in
recursive-include preprocessing_tools *
recursive-include rsem_pipeline/bin *
recursive-include rsem_pipeline/conf *
recursive-include rsem_pipeline/templates *

