PyYAML==3.11
Pymacs==0.25
ipython==1.2.1
pyflakes==0.8.1
requests==2.2.1
rope==0.9.4
ropemacs==0.7
ropemode==0.2
ruffus==2.4.1
stevedore==0.14.1
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.2
wsgiref==0.1.2
