[loggers]
keys=root,rsem_transfer,paramiko.transport,utils

[logger_root]
handlers=
level=NOTSET

[logger_rsem_transfer]
handlers=screen,file
level=NOTSET
qualname=rsem_cron_transfer

[logger_paramiko.transport]
handlers=screen,file
level=WARNING
qualname=paramiko.transport

[logger_utils]
handlers=screen,file
level=NOTSET
qualname=utils

[formatters]
keys=standard

[formatter_standard]
format=%(levelname)s|%(asctime)s|%(name)s:%(message)s

[handlers]
keys=file,screen

[handler_file]
class=FileHandler
formatter=standard
level=DEBUG
args=('log/rsem_transfer_{0}.log'.format(time.strftime('%Y-%m-%d_%H:%M', time.localtime())), )

[handler_screen]
class=StreamHandler
formatter=standard
level=INFO
args=(sys.stdout,)