[loggers]
keys=root,rsem_pipeline,isamples_parser,soft_parser,utils_main,utils_download,utils,utils_pre_pipeline_run

[logger_root]
handlers=
level=NOTSET

[logger_utils_pre_pipeline_run]
handlers=screen,file
level=NOTSET
qualname=utils_pre_pipeline_run

[logger_rsem_pipeline]
handlers=screen,file
level=NOTSET
qualname=rsem_pipeline

[logger_soft_parser]
handlers=screen,file
level=NOTSET
qualname=soft_parser

[logger_isamples_parser]
handlers=screen,file
level=NOTSET
qualname=isamples_parser

[logger_utils_main]
handlers=screen,file
level=NOTSET
qualname=utils_main

[logger_utils_download]
handlers=screen,file
level=NOTSET
qualname=utils_download

[logger_utils]
handlers=screen,file
level=NOTSET
qualname=utils

[formatters]
keys=standard

[formatter_standard]
format=%(levelname)s|%(asctime)s|%(name)s:%(message)s

[handlers]
keys=file,screen

[handler_file]
class=FileHandler
formatter=standard
level=DEBUG
# because rsem_pipeline.logging.config gets read twice in rsem_pipeline.py, so
# if second is also included in the name of the log file (too high a
# resolution), the two log file may be created, so ignore seconds for now
# 2014-10-21
args=('log/rsem_pipeline_{0}.log'.format(time.strftime('%Y-%m-%d_%H:%M', time.localtime())), )

[handler_screen]
class=StreamHandler
formatter=standard
level=INFO
args=(sys.stdout,)