[loggers]
keys=root,rsem_cron_transfer,paramiko.transport

[logger_root]
handlers=
level=NOTSET

[logger_rsem_cron_transfer]
handlers=screen,file
level=NOTSET
qualname=rsem_cron_transfer

[logger_paramiko.transport]
handlers=screen,file
level=INFO
qualname=rsem_cron_transfer

[formatters]
keys=standard

[formatter_standard]
format=%(levelname)s|%(asctime)s|%(name)s:%(message)s

[handlers]
keys=file,screen

[handler_file]
class=FileHandler
formatter=standard
level=DEBUG
args=('rsem_cron_transfer.log',)

[handler_screen]
class=StreamHandler
formatter=standard
level=DEBUG
args=(sys.stdout,)