# Configurations that change when in different hosts should be put here, those
# that don't change (e.g. logging configuration) should be put in settings.py

# -Q Fair transfer policy, -T Disable encryption
# -L log dir
CMD_ASCP: >-
  /home/kmnip/bin/ascp 
  -i /home/kmnip/.aspera/connect/etc/asperaweb_id_dsa.putty 
  --ignore-host-key 
  -QT 
  -L {log_dir}
  -k2 
  -l 300m 
  anonftp@ftp-trace.ncbi.nlm.nih.gov:{url_path} {output_dir}

CMD_WGET: >-
  wget ftp://ftp-trace.ncbi.nlm.nih.gov{url_path} -P {output_dir} -N

CMD_FASTQ_DUMP: >-
  fastq-dump --minReadLen 25 --gzip --split-files --outdir {output_dir} {accession}
  
# used when parsing soft files
INTERESTED_ORGANISMS: 
  - Homo sapiens
  - Mus musculus
  - Rattus norvegicus

REFERENCE_NAMES:
  homo_sapiens: /projects/btl2/batch.2013.05.22/rsem/hg19/hg19_ensembl_72
  mus_musculus: /projects/btl2/batch.2013.05.22/rsem/mm10/mm10_ensembl_72
  rattus_norvegicus: /projects/btl2/batch.2013.05.22/rsem/rn5/rn5_ensembl_72