[loggers]
keys: root,
      find_dup,
      gen_csv,
      get_soft

[logger_root]
handlers=
level=NOTSET

[logger_find_dup]
handlers=screen
level=NOTSET
qualname=rsempipeline.preprocess.find_duplicated_GSMs

[logger_gen_csv]
handlers=screen
level=NOTSET
qualname=rsempipeline.preprocess.gen_GSE_species_GSM_csv

[logger_get_soft]
handlers=screen
level=NOTSET
qualname=rsempipeline.preprocess.download_soft

[formatters]
keys=standard

[formatter_standard]
format=%(levelname)s|%(asctime)s|%(name)s:%(message)s

[handlers]
keys=screen

[handler_screen]
class=StreamHandler
formatter=standard
level=INFO
args=(sys.stdout,)