[loggers]
keys: root,
      rp_run,
      isamp_parser,
      soft_parser,
      misc,
      pre_pipeline_run,
      download

[logger_root]
handlers=
level=NOTSET

[logger_rp_run]
handlers=screen,file
level=NOTSET
qualname=rp_run

[logger_soft_parser]
handlers=screen,file
level=NOTSET
qualname=rsempipeline.parsers.soft_parser

[logger_isamp_parser]
handlers=screen,file
level=NOTSET
qualname=rsempipeline.parsers.isamp_parser

[logger_misc]
handlers=screen,file
level=NOTSET
qualname=rsempipeline.utils.misc

[logger_pre_pipeline_run]
handlers=screen,file
level=NOTSET
qualname=rsempipeline.utils.pre_pipeline_run

[logger_download]
handlers=screen,file
level=NOTSET
qualname=rsempipeline.utils.download

[logger_utils_download]
handlers=screen,file
level=NOTSET
qualname=utils_download

[formatters]
keys=standard

[formatter_standard]
format=%(levelname)s|%(asctime)s|%(name)s:%(message)s

[handlers]
keys=file,screen

[handler_file]
class=FileHandler
formatter=standard
level=DEBUG
# because rsempipeline.logging.config gets read twice in rsempipeline.py, so
# if second is also included in the name of the log file (too high a
# resolution), the two log file may be created, so ignore seconds for now
# 2014-10-21
args=('log/rp_run_{0}.log'.format(time.strftime('%Y-%m-%d_%H:%M', time.localtime())), )

[handler_screen]
class=StreamHandler
formatter=standard
level=INFO
args=(sys.stdout,)