#!/bin/bash

{% set ncpus = 12 %}
{% set mem = 3.83 %} 

#$ -S /bin/bash
#$ -q all.q
#$ -N {{gsm}}_{{gse}}
#$ -pe ncpus {{ncpus}}
#$ -l mem_free={{mem}}G,mem_token={{mem}}G,h_vmem={{mem}}G
#$ -j y
#$ -V

cd ${SGE_O_WORKDIR}

{% include 'rsem.jinja2' %}
