#!/bin/bash
#$ -S /bin/bash
#$ -q all.q
#$ -N {{sample.name}}
#$ -pe ncpus {{ruffus_num_threads}} {% set mem = 45 / ruffus_num_threads %}
#$ -l excl=true,mem_free={{mem|int}}G,mem_token={{mem|int}}G,h_vmem={{mem|int}}G
#$ -j y
#$ -V

cd ${SGE_O_WORKDIR}

python {{rsem_pipeline_py}} \
    --soft-file {{soft_file}} \
    --data-str "{{data_str}}" \
    --ruffus-num-threads {{ruffus_num_threads}} \
    --config-file {{config_file}} \
    --top-outdir {{top_outdir}} \
    --tasks sra2fastq rsem \
    --host-to-run local \
    --use-pickle

echo returncode: $?
# if [ $? -eq 0 ]; then
#     find . -name '*.sra' -exec rm -v '{}' ';'
#     find . -name '*.fastq.gz' -exec rm -v '{}' ';'
# fi
